/* user info float block */
.userinfo-sticky-container {
  position: absolute;
  right: 0;
  width: 60px;
  height: 100px;
  font-size: 14px;
  -webkit-transition: all .35s ease-in-out;
          transition: all .35s ease-in-out;
}
.userinfo-sticky-container.bgcolor {
  background-color: rgba(255, 255, 255, .8);
}

.userinfo-sticky-container .hide {
  display: none;
}

.userinfo-sticky-avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  /* allow click event */
  cursor: pointer;
}
.userinfo-sticky-avatar > img {
  width: 60px;
  max-width: 60px;
  height: 60px;
  max-height: 60px;
  background-color: #adadad;
}

.userinfo-sticky-line {
  height: 20px; 
}

a.userinfo-sticky[type="button"] {
  display: inline-block;
  width: 100%;
  border: 0 none;
  outline: none;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  background-color: transparent;
  -webkit-transition: all .25s ease;
          transition: all .25s ease;
}
a.userinfo-sticky[type="button"]:hover,
a.userinfo-sticky[type="button"]:active {
  text-decoration: none;
  background-color: #dedede;
}

a[type="button"].userinfo-sticky-msg.important {
  background-color: #f9a0a0;
}
a[type="button"].userinfo-sticky-sign.disabled {
  background-color: #adadad;
}

.userinfo-sticky-details-panel {
  position: absolute;
  top: 0;
  right: 60px; 
  width: 120px;
}
.userinfo-sticky-control-panel {
  position: absolute;
  top: 100px;
  right: 0; 
  left: 0;
}
